
{% extends 'main.html'%}

{%block  content%}
<br>

		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h5>Customers</h5>
				</div>
				<div class="card card-body">
					<table class=class="table table-hover">
						<tr>
							<th>Name</th>
							<th>Phone</th>
							<th>Email</th>
						</tr>

						{%for i in members%}
						<tr>
						<td>
							{{i.name}}
							</td>
							<td>
							{{i.phone}}
							</td>
							<td>
							{{i.email}}
							</td>
							<td><td> <a class="btn btn-primary btn-sm btn-block" href="http://127.0.0.1:8000/customerupdate/">Update</a></td></td>
						</tr>
						{%endfor%}


					</table>
				</div>
			</div>

		</div>
{%endblock%}